<html>
<title>

	Painel de administração do jogo

</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<body>

	Jogo entre "{{ score.team_a_name }}" e "{{ score.team_b_name }}". Placar: 

	<form method="post">

		<input type="hidden" name="id" value="{{ score.id }}"/>
		<br />
		<br />
		Time {{ score.team_a_name }}: <input type="text" name="team_a_score" value="{{ score.team_a_score }}"/>
		<br />
		Time {{ score.team_b_name }}: <input type="text" name="team_b_score" value="{{ score.team_b_score }}"/>
		<br /> <br />
		<input type="submit" value="Atualizar placar"/>
	</form>

</body>
</html>
