<html>
<head>
  <title>Placar ao vivo!</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
  <script>

  function listen_for_events(ts) {

    $.ajax('/score/pull/' + ts + '/{{ score.id }}', {
     complete: 
     
     function(data, code, xhr) {

      if(code == 'error') {

        alert('Um erro ocorreu ao atualizar o placar. Por favor recarregue a página.');
        return;
      }

      var sResult = JSON.parse(data.responseText);

      $("#team_a_score").val(sResult.score.team_a_score);
      $("#team_b_score").val(sResult.score.team_b_score);

      listen_for_events(sResult.timestamp);

    }});
  }
  $(document).ready(function() {
    listen_for_events({{ timestamp }});
  });
  </script>
</head>
<body>
  Placar ao vivo do jogo entre "{{ score.team_a_name }}" e "{{ score.team_b_name }}"!

  <br />
  <br />
  Time {{ score.team_a_name }}: <input type="text" readonly="true" id="team_a_score" value="{{ score.team_a_score }}" > <br /><br />
  Time {{ score.team_b_name }}: <input type="text" readonly="true" id="team_b_score" value="{{ score.team_b_score }}" > <br /><br />

</body>
</html>
